.btn {
    border-radius: $border-radius-none;
    transition: $transition-ease !important;
    padding: 15px 25px;
    border: $border-none;
    @include a-button;
}

.btn-dark {
    color: $color-alabaster;
    background-color: $background-bistre;

    &:hover,
    &:focus,
    &:active {
        color: $color-alabaster;
        background-color: $background-russet;
    }
}

.btn-border-dark {
    color: $color-bistre;
    border: 1px solid $color-bistre;

    &:hover,
    &:focus,
    &:active {
        color: $color-alabaster;
        background-color: $color-green;
    }
}

.btn-border-light {
    color: $color-alabaster;
    border: 1px solid $color-alabaster;
    background-color: $background-transparent;

    &:hover,
    &:focus,
    &:active {
        color: $color-alabaster;
        border: none !important;
        background-color: $color-green;
    }
}

.btn-max {
    width: 100%;
}