.presentation-list {
    text-align: center;
    margin-top: $margin-m;

    .presentation-li {
        padding: 2rem 1rem;
        border-top: 1px solid $color-bistre !important;
        border-bottom: 1px solid $color-bistre !important;
        transition: $transition-ease-in-out !important;

        &:hover,
        &:focus,
        &:active {
            padding: 2.5rem;
            background-color: $background-bistre;

            h4 {
                color: $color-russet !important;
            }

            p {
                display: $display-block !important;
            }
        }

        h4 {
            color: $color-bistre !important;
        }

        P {
            display: $display-none;
        }

        &:not(:last-child) {
            margin-bottom: $margin-s;

            @media screen and (max-width: $breakpoint-tablet) {
                margin-bottom: $margin-xs !important;
            }
        }
    }
}